    body {
        font: 20px Montserrat, sans-serif;
        line-height: 1.8;
        color: #434956;
    }

    p {
        font-size: 16px;
    }

    .margin {
        margin-bottom: 45px;
    }

    .bg-1 {
        background-color: #1abc9c;
        /* Green */
        color: #ffffff;
        margin-top: 60px;
    }

    .bg-2 {
        background-color: #ffffff;
        /* White */
        color: #474e5d;
    }

    .bg-3 {
        background-color: #474e5d;
        /* Dark Blue */
        color: #ffffff;
    }

    .bg-4 {
        background-color: #1abc9c;
        /* White */
        color: #ffffff;
    }

    .bg-5 {
        background-color: #ffffff;
        /* White */
        color: #474e5d;
    }

    .container-fluid {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
        border: 0;
        border-radius: 0;
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 5px;
        background-color: #99c2ff;
    }

    .navbar-nav li a:hover {
        color: #ffffff !important;
    }

    .navbar-nav li.active a:hover, .navbar-nav li.active a:focus {
        background-color: #66a3ff !important;
        border-radius: 18px;
    }

    .nav.navbar-nav li.active a {
        background-color: #66a3ff;
        color: #000000;
        border-radius: 18px;
    }

    .dropdown-menu li a {
        background-color: #ffffff !important;
        color: #000000 !important;
        border-radius: 0px !important;
    }

    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
        background-color: #66a3ff !important;
        color: #000000 !important;
    }

    .nav.navbar-nav > .open > a{
        background-color: #99c2ff !important;
        color: #ffffff !important;
    }


    .links:hover {
        color: #ffffff;
        text-decoration: none;
    }

    .links {
        color: #99c2ff;
    }

    .linksAbout:hover {
        color: #99c2ff;
        text-decoration: none;
    }

    .linksAbout {
        color: #4d94ff;
    }

    .linksCal:hover {
        color: #ffffff;
        text-decoration: none;
    }

    .linksCal {
        color: #cce0ff;
    }

    footer {
        background-color: #474e5d;
        /* Black Gray */
        color: #ffffff;
        padding-top: 50px !important;
        padding-bottom: 35px !important;
    }

    #imgProj {
        display: block;
        margin: auto;
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
        margin: 5px;
    }

    #academic {
        text-align: left;
    }

    #logo {
        float: left;
        padding: 5px;
        position: relative;
        left: 37%;
    }

    #top {
        padding-bottom: 40px !important;
    }

    .term {
        border-style: solid;
        border-radius: 12px;
        border-color: #1abc9c;
        padding: 10px;
        display: inline-block;
    }

    .fake {
        padding: 0px;
    }
